body, .page-background-image, html {
    height: 100% !important; 
    width: 100% !important; 
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
    z-index: auto !important;
    overflow: hidden !important; 
}

img {
    width: auto !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain !important; /* THIS ensures aspect ratio is maintained */
    display: block !important;
    margin: 0 !important;
    position: static !important;
}
